.statistics-title{
    margin-top: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statistics-title h2{
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .statistics-title {
    margin-top: 40px;
  }
  
  .statistics-title h2 {
    margin-top: 20px;
  }
}