.blog-data-container{
    margin: 20px 380px;
    border: 1px solid rgba(156, 156, 156, 0.25);
    border-radius: 8px;
    padding: 20px;
}

@media only screen and (max-width: 768px) {
    /* adjust the margin for screens smaller than 768px wide */
    .blog-data-container {
        width: 75%;
        margin: 20px auto;
    }
  }