.joblisting-container {
    border: 1px solid rgba(156, 156, 156, 0.25);
    border-radius: 8px;
    padding: 20px;
}

.joblisting-container img {
    height: 100px;
    width: 150px;
}

.feature-style{
    border: 1px solid #7E90FE;
    border-radius: 4px;
    color: #9873FF;
    padding: 8px 12px;
    margin-right: 10px;
}

.location-salary-container{
    display: flex;
    gap: 24px;
}

.joblisting-container .apply-button{
    font-size: 12px;
}